body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.root {
    max-width: 980px;
    min-width: 500px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: burlywood;
}

nav a {
    display: inline-block;
    padding: 5px 15px;
    background: #eee;
    color: #333;
    text-decoration: none;
}
nav a:hover {
    background: #999;
    color: #eee;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 5px 0;
}