{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{{ .Title }}</title>
</head>

<body>
    <div class="root">
        {{ block "nav" .}}{{end}}
        {{ block "content" . }}{{end}}
        {{ block "sidebar" .}}{{end}}
        {{ block "footer" .}}{{end}}
    </div>
</body>

</html>
{{end}}